body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.is-link {
  cursor: pointer;
}

.task-status-todo {
  color: darkred !important;
}

.task-status-done {
  color: darkgreen !important;
}

.tasks-row-expanded td, .tasks-row-expanded th  {
  border-bottom: 0;
  padding-bottom: 0;
}

.tasks-table thead tr:first-child th {
  padding-top: 0;
}

.tasks-table tbody tr:last-child td, .tasks-table tbody tr:last-child th {
  padding-bottom: 0;
  border-bottom: 0;
}

.tasks-table th:first-child {
  padding-left: 20px;
}
